
<div class="box">
    <h5>Cycle Screen</h5>
  </div>
<div class="grid-container">
    <div class="grid-item">Column 1, Row 1</div>
    <div class="grid-item">Column 2, Row 1</div>
    <div class="grid-item">Column 3, Row 1</div>
    <div class="grid-item">Column 4, Row 1</div>
  </div>
  <div class="grid-container">
    <div class="grid-item">Column 1, Row 1</div>
    <div class="grid-item">Column 2, Row 1</div>
    <div class="grid-item">Column 3, Row 1</div>
    <div class="grid-item">Column 4, Row 1</div>
  </div>